*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a,
:visited {
  color: inherit;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input,
select,
option {
  font: inherit;
  color: inherit;
}
